node_modules
images/*
!images/.gitkeep 
media/*
!media/.gitkeep 
toppers/*
!toppers/.gitkeep
lectureContents/*
!lectureContents/.gitkeep
image-categories/*
!image-categories/.gitkeep
gmail-api-client_secret.json